* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
}

body {
  font-family: system-ui;
}

:root {
  --main-padding: 190px;
  --main-color-alt: rgb(240, 209, 5);
  --main-color: #f1d205;
  --container-padding: 255px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* small screan */
@media(min-width: 768px) {
  .main-container {
    width: 750px;
  }
}

/* medium screan */
@media(min-width: 992px) {
  .main-container {
    width: 970px;
  }
}

/* large screan */
@media(min-width: 1200px) {
  .main-container {
    width: 1170px;
  }
}

/* main title */
.main-title {
  text-transform: uppercase;
  margin: 0px auto 50px auto;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}


/* Start header */
.header {
  padding: 15px var(--main-padding) 10px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 97.43px;
  background-color: #180606;
}

.logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 50px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 50%;
}

.header .logo h1 {
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.header nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  margin-left: 18px;
  font-weight: 600;
  font-size: 15px;
  border-bottom: 3px solid transparent;
  padding-bottom: 10px;
}

.header nav a:hover ,nav a.active {
  color: #ffde00;
  border-bottom: 3px solid #ffde00;
  font-size: 800;
}

/* end header */

/* start footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .footer-container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}

.footer .box .social {
  display: flex;
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}

.footer .box .social li {
  margin-right: 10px;
}

.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}

.footer .box .social li a:hover {
  transform: scale(1.1);
}

.footer .box .social .facebook:hover {
  background-color: #1877f2;
}

.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
  background-color: #ff0000;
}

.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}

.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li:hover a {
  color: white;
}

.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: #666;
}

.footer .box .links li a:hover::before {
  color: var(--main-color-alt);
}

.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}

.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .box .line .info span {
  display: block;
}

.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
  transition: 0.5s;
}

.footer .footer-gallery img:hover {
  transform: scale(1.1);
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}

/* End Footer */