body {
    background-color: #E3E7E8;
    font-family: system-ui;
}

.container {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
    margin-bottom: 60px;
}

header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

header .shopping {
    position: relative;
    text-align: right;
    padding: 10px;
    /*on hold*/
}

header .shopping img {
    width: 40px;
}

header .shopping i {
    width: 40px;
}

header .shopping span {
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;

}

.list .item {
    text-align: center;
    background-color: #DCE0E1;
    padding: 12px;
    box-shadow: 0 25px 50px #757676;
    letter-spacing: 1px;
    transition: 0.7s ease;
    border-radius: 2%;

}

.list .item:hover {
    transform: scale(0.9);
}

.list .item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.list .item .title {
    margin-top: 5px;
    font-weight: 700;
    font-size: larger;
}

.list .item .price {
    margin: 10px;
    font-weight: 600;
}

.list .item button {
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 1.5em;
}

.list .item button:hover {
    background-color: rgb(219, 211, 58);
}

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #141110;
    height: 100vh;
    transition: 0.5s;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}

.card h1 {
    color: rgb(219, 211, 58);
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.card .checkOut div {
    background-color: rgb(219, 211, 58);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 10px;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 80%;
}

.listCard li button {
    background-color: #fff5;
    border: none;
    width: 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.listCard .count {
    margin: 0 10px;
}

/*buttons*/

.filter-btns {
    text-align: center;

}

.filter-btn {
    background: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    font-weight: 600px;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s ease-in-out;
    color: #757676;
}

.filter-btn::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #1C1F25;
    transition: all 0.2s ease-in-out;
}

.filter-btn:hover {
    color: #1C1F25;
}

.filter-btn:hover::after {
    width: 100%;
}



/*theme*/

label {
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: auto;
    border: 2px solid;
    border-radius: 20px;
    margin: 20px;
}

label:before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    cursor: pointer;
    background: #000;
    transition: 0.4s;

}

label.active:before {
    left: 24px;
    background: #fff;
}

body.night {
    background: #180606;
    color: #fff;
}

.headh1 {
    color: #ffde00;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-h {
    color: #757676;
}

.btn-arrs {
    margin: 70px;
    display: flex;
    justify-content: space-evenly;
}

.btn-arr {
    width: 150px;
    border-radius: 45%;
    background-color: #ffde00;
    color: #757676;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-arr:hover {
    background-color: rgb(224, 100, 23);
    transform: translateX(10px);

}